body{
  background-color: lavender;
}

/*adding dotted horizontal rule in centre of page*/
  hr{
    width : 5%;
    color : purple;
    border-top : 10px dotted;
    border-style : dotted hidden hidden;
  }

  h1{
    color: purple;
  }

  h2{
    color : purple;
  }
  h3{
    color: purple;
  }
